<p>home works!</p>
<h1>Hola</h1>
<div>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure voluptate animi magnam asperiores quos tenetur
  dignissimos, deserunt ab facere aperiam nulla qui sapiente nesciunt fugit inventore cumque totam amet quod!
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/GL2v81xYuAQ?si=B2mASAJ2LtxYoFQY"
  title="YouTube video player" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen></iframe>
<div>
  <app-table>
  </app-table>
</div>