<p>table works!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
        </tr> -->
        <tr>
            <td>Angie</td>
            <td>21</td>
            <td>Female</td>
            <td>COL</td>
            <td>BOG</td>
        </tr>
    </tbody>
</table>